use nix

export CDDA_VERSION="$(git describe @^ --tags --always --match "[0-9A-Z]*.[0-9A-Z]*")"

echo "======================================================================================================"
echo " Run 'nix --option build-use-sandbox false build -f . debug.{console,tiles}' for building with ccache "
echo "======================================================================================================"

# vim: ft=sh
